/Exam01.class
/Exam02.class
/Exam03.class
/Exam04.class
/Exam05.class
/MyInterface.class
/MyInterface2.class
/MyInterface3.class
/MyInterface3Impl.class
/MyInterface4.class
/MyInterface4Impl.class
/MyInterface5.class
/MyInterface5Impl.class
/MyInterfaceImpl.class
/MyInterfaceImpl2.class
/Parent.class
